.button {
  border-radius: 100px;
  box-shadow: 0px 4px 50px 0px rgba(50, 108, 255, 0.5);
  background: linear-gradient(
    -8.53deg,
    rgb(38, 255, 242) 14.48%,
    rgb(50, 108, 255) 68.778%
  );
  border: none;
  padding: 15px 30px;

  @media screen and (max-width: 1024px) {
    padding: 18px 34px;
    
  }

  @media screen and (max-width: 768px) {
    padding: 12px 18px;
  }
}
