.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 0 5%;
  position: relative;
  background-color: black;
  z-index: 5;

  &__logo {
    width: 100%;

    @media screen and (max-width: 769px) {
      width: 50%;
    }
  }

  &__menu-toggle {
   
    display: none;

    @media screen and (max-width: 769px) {
      display: block;
      z-index: 5;
      margin-right: 50px;
    }
  }



  &__nav {
    @media screen and (max-width: 769px) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vw;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out,max-height 0.3s ease-in-out;;
      max-height: 0;
      overflow: hidden;
      z-index: -2;
      background: rgb(0,0,0,0.8);
      backdrop-filter: blur(5px);

      &.open {
        transform: translateY(0);
        max-height: 500px;
      }
    }
   
    &_list {
      display: flex;
      gap: 54px;

      @media screen and (max-width: 1024px) {
        gap: 25px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
      }

      .header__nav_item {
        .header__nav_link {
          color: rgb(255, 255, 255);
          font-family: "Mulish-Bold";
          font-size: 16px;
          font-weight: 700;
          line-height: 1.2;
          opacity: 0.5;
          position: relative;
          transition: opacity 0.3s ease;

          @media screen and (max-width: 769px) {
            font-size: 35px;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            height: 2px;
            background: linear-gradient(
              -8.53deg,
              rgb(38, 255, 242) 26.767%,
              rgb(50, 108, 255) 42.283%
            );
            opacity: 0;
            border-radius: 30px;
            transition: opacity 0.3s ease;
          }

          &:hover {
            opacity: 1;

            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__user_nav {
    display: flex;
    gap: 76px;

    @media screen and (max-width: 1024px) {
      gap: 30px;
    }

    @media screen and (max-width: 769px) {
      gap: 15px;
    }

    .user__nav_icon {
      color: rgb(255, 255, 255);
      position: relative;
    }

    .notification {
      position: relative;

      &-dot {
        position: absolute;
        top: 3px;
        right: 1px;
        width: 6px;
        height: 6px;
        border : 1px solid black;
        border-radius: 50%;
        background: linear-gradient(180.00deg, rgb(50, 108, 255),rgb(38, 255, 242) 100%);
      }
    }
  }
}

.btn__toggle{
  padding: 5px 10px;
}
