.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  max-width: 1224px;
  margin: 0 auto;
  margin-bottom: 121px;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .banner__title {
      color: rgb(255, 255, 255);
      font-family: "Mulish-Bold";
      font-size: 64px;
      line-height: 100%;
      text-align: left;
      text-transform: capitalize;
      max-width: 790px;
    }

    .btn__register {
      color: rgb(255, 255, 255);
      font-family: "Mulish-ExtraBold";
      font-size: 16px;
      line-height: 20px;
    }
  }
}
